.col.menu {
    cursor: pointer;
    height : 50px;
    color: black;
    text-decoration-line: none;
}
.col.select {
    border: 2px solid #1c90fb!important; 
    border-radius: 8px!important;
    outline: 0!important;
    
}